{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-runtime", [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "dva-hmr"
            ]
        }
    }
}